<div style="background-color: white;">
<h1>Blog Post Homework 6</h1>
      <h2>Kelsey Moore</h2>

      <body>
      <p style="text-indent: 40px">
        Security concerns play a huge part in the process of developing and writing software.
        As a student with interest in cybersecurity, learning new ways to secure
        your information and prevent hackers from accessing your accounts is very interesting.
        Issues with passwords for different accounts and applications is that many people
        use the same username and password for everything.  If someone gets access to one
        password, they can get into all of your accounts.  A way to help with this issue
        is to use Two-Factor Authentication.  This way, there are two steps to login, one
        on your device, and the other using a method from a different system, like biometric
        fingerprint IDs, verification emails, text message verification, etc.
      </p>

        <p style="text-indent: 40px">

	          When developing software, you have to keep in mind the requirements you will set for what kind
        of passwords users can set.  Having a longer password is more secure, and requiring
        capitalizations, numbers, and symbols is even better.  Another thing I have seen is not
        allowing any part of your name, email, or security answers to be in your password.
        This can make sure that even though someone may have your email or the name of your first pet,
        they won’t know your password.  This leads to another issue though- the idea of “forgot your password?” resets.
        You should write software so that it won’t be easy for someone to reset another person’s password using
        their email or phone number.  This can be tricky, especially if someone already has your phone number, email,
        or more personal information about you.
    </p>

        <p style="text-indent: 40px">

	         When it comes to the actual coding, you should make your software as simple as possible- more complex code
        and programs have a better chance of containing bugs and errors that go undetected.  You should also monitor
        where input is coming from and the validity of this input- if a user is located in Cincinnati but you see
        packages coming from India, this is a red flag.  You also need to be careful to validate all input, as some
        people can comment or post things that contain scripts or viruses.
      </p>

        <p style="text-indent: 40px">

	         In conclusion, security is a big concern when writing and developing software.  Using the right precautions
         and steps to help protect your code, user data, and other files and important information, you can better
         defend your software and get rid of vulnerabilities that could leave you hacked.
         </p>
